<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
  </style>
  <body>
    <div id="app">
      <input type="text" v-model="newItem.title" />
      <input type="text" v-model="newItem.author" />
      <button @click="addItem">确定</button>
      <table border="1" width="600">
        <tr bgcolor="lightblue">
          <th>id</th>
          <th>标题</th>
          <th>作者</th>
          <th>操作</th>
        </tr>
        <tr v-for="(item,index) in fillist">
          <td>{{index+1}}</td>
          <td>{{item.title}}</td>
          <td>{{item.author}}</td>
          <td>
            <a href="javascript:void(0);" @click="deleteItem(item)">删除</a>|
            <a href="javascript:void(0);" @click="editItem(item,index)">编辑</a>
          </td>
        </tr>
      </table>
    </div>
    <script src="../vue.js"></script>
    <script>
      // 初始化vue实例
      new Vue({
        el: "#app",
        data: {
          keywords: "",
          isshow: false, //是否显示模态框
          editIndex: null, //正在编辑的行号
          newItem: {
            //新增的对象
            title: "",
            author: "",
            createtime: "",
          },
          tempItem: {
            //正在编辑的对象
            title: "",
            author: "",
            createtime: "",
          }, //新增的对象
          list: [
            {
              title: "123",
              author: "mdy",
              createtime: "2022-09-30",
            },
            {
              title: "456",
              author: "dyh",
              createtime: "2022-09-28",
            },
          ],
        },
        methods: {
          //添加
          addItem() {
            // 向list新增item
            this.list.unshift({
              ...this.newItem,
            });
            //清空数据
            this.newItem = {
              title: "",
              author: "",
              createtime: "",
            };
          },
          //删除
          deleteItem(obj) {
            var index = this.list.indexOf(obj);
            if (confirm("确认删除吗?")) {
              this.list.splice(index, 1);
            }
          },
        },
        computed: {
          //过滤出的list
          fillist() {
            if (this.keywords.trim() == "") {
              return this.list;
            } else {
              return this.list.filter((item) => {
                return item.title.includes(this.keywords);
              });
            }
          },
        },
      });
    </script>
  </body>
</html>
