* {
  padding: 0;
  margin: 0;
}
li {
  list-style: none ;
}
a {
  text-decoration: none;
}
.html {
  font-size: 31.25px;
}
.box {
  width: 100%;
  height: 32rem;
  float: left;
  background-color: #f0f0f0;
}
.biaot {
  width: 4rem;
  margin: auto;
  margin-top: 20px;
}
.kong {
  width: 1.28rem;
  height: 1.6rem;
  float: left;
  margin-left: 0.192rem;
  border-radius: 20px 10px 10px 20px;
  font-size: 25px;
  text-align: center;
  line-height: 1.76rem;
  color: gray;
  margin-right: 0.096rem;
}
.input {
  width: 90%;
  height: 1.6rem;
  margin: auto;
  margin-top: 0.64rem;
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.namr {
  width: 70%;
  height: 1.44rem;
  border: none;
  outline: none;
  font-size: 20px;
}
.wxtyk {
  width: 95%;
  height: 6.4rem;
  margin: auto;
  background-color: grey;
  border-radius: 0.32rem;
  margin-top: 0.64rem;
}
.yongh {
  width: 97%;
  height: 1.28rem;
  float: right;
  margin-top: 0.64rem;
}
.fk {
  width: 2.08rem;
  height: 1.28rem;
  float: right;
  border: none;
  border-radius: 20px 0px 0px 20px ;
  color: aliceblue;
  font-size: 0.576rem;
  background-color: #acacac;
}
.yonghu {
  float: left;
  width: 1.28rem;
  height: 1.28rem;
  background-color: #f4f4f4;
  margin-left: 0.32rem;
  border-radius: 0.64rem;
}
.fenl {
  width: 99%;
  height: 1.6rem;
  background-color: #ffffff;
  margin: auto;
  position: sticky;
  top: -0.16rem;
  margin-top: 0.384rem;
}
.icon {
  margin: 0.288rem;
}
.wxds {
  float: left;
  width: 2.24rem;
  color: aliceblue;
  margin-top: 0.32rem;
  margin-left: 0.224rem;
  font-size: 0.544rem;
}
.tykjrdq {
  float: left;
  width: 4.16rem;
  color: #d4d4d4;
  margin-top: 0.32rem;
  margin-left: 0.224rem;
  font-size: 0.544rem;
}
.shujia {
  width: 0.96rem;
  height: 1.44rem;
  margin-top: 1.6rem;
  float: right;
  margin-right: 0.48rem;
  line-height: 0.64rem;
  font-size: 0.544rem;
  color: aliceblue;
}
.you {
  width: 0.32rem;
  height: 0.64rem;
  float: right;
  text-align: center;
  margin-top: -0.224rem;
}
.fenls {
  float: left;
  margin-left: 0.256rem;
  margin-top: 0.256rem;
  font-size: 0.736rem;
  text-align: center;
  color: gray;
  font-family: 宋体;
  line-height: 1.088rem;
  border: none;
  background-color: transparent;
}
.shuc {
  width: 99%;
  background-color: aqua;
  margin: auto;
}
.tab-box {
  width: 100%;
  height: 26.24rem;
  overflow-y: scroll;
  display: none;
  background-color: #f1f1f1;
}
.img {
  float: left;
  margin: 0.64rem;
  width: 2.336rem;
  height: 2.976rem;
}
.active {
  display: block;
}
.footer {
  width: 100%;
  height: 2.4rem;
  margin: auto;
  position: fixed;
  bottom: 0;
  background-color: #ffffff;
}
.fte {
  width: 1.92rem;
  height: 1.92rem;
  float: left;
  margin: 0.384rem 0.64rem 0rem 1.216rem;
}
.icons {
  width: 1.28rem;
  height: 1.28rem;
  margin: 0rem 0rem 0rem 0.32rem;
}
.fte span {
  float: left;
  margin-top: -0.32rem;
  font-size: 0.576rem;
  margin-left: 0.352rem;
}
.ssy {
  width: 80%;
  height: 3.2rem;
  float: left;
}
.libimg {
  width: 3.2rem;
  height: 3.2rem;
  float: left;
}
.lizhi {
  font-size: 0.48rem;
  float: left;
  margin: 0.32rem;
}
.jiaes {
  font-size: 0.48rem;
  float: left;
  color: gray;
  margin: 0.16rem 0rem 0rem 0.32rem;
}
.douz {
  font-size: 0.48rem;
  float: left;
  color: gray;
  margin: -0.288rem 0rem 0rem 0.32rem;
}
.flei {
  width: 95%;
  height: 5.44rem;
  background-color: #e9e9e9;
  border-radius: 0.64rem;
  margin: auto;
  margin-top: 0.32rem;
}
.youimg {
  float: right;
  width: 4.48rem;
  height: 5.44rem;
  border-radius: 0rem 0.32rem 0.32rem 0rem;
}
.jpx {
  font-size: 0.8rem;
  float: left;
  margin-top: 0.32rem;
  margin-left: 0.64rem;
}
.bad,
.ds,
.jianl {
  font-size: 0.448rem;
  float: left;
  color: #2e2e2e;
  margin-left: 0.64rem;
}
.bad {
  margin-top: 0.48rem;
}
.jianl {
  margin-top: 0.256rem;
}
.ds {
  margin-top: 0.032rem;
}
.bang,
.bd {
  width: 9.28rem;
  height: 1.76rem;
}
.wsbang {
  width: 125%;
  margin: auto;
  height: 3.84rem;
  margin: 0.32rem;
}
.leftimg {
  width: 3.2rem;
  height: 3.84rem;
  float: left;
  background-color: aqua;
}
.names {
  width: 7.36rem;
  height: 0.96rem;
  float: left;
  margin: 0.32rem;
  font-size: 0.64rem;
}
.ming {
  width: 3.84rem;
  height: 0.96rem;
  float: left;
  font-size: 0.48rem;
  color: gray;
  margin: 0.32rem;
}
.wxys {
  width: 95%;
  height: 4.8rem;
  margin: auto;
}
.ide {
  width: 0.64rem;
  height: 0.64rem;
  float: left;
  margin: 2.24rem 0rem 0rem 0.32rem;
  text-align: center;
  font-size: 0.48rem;
}
.phimg {
  width: 3.84rem;
  height: 4.8rem;
  float: left;
}
.ynv {
  width: 4.608rem;
  height: 0.96rem;
  float: left;
  font-size: 0.64rem;
  margin-top: 0.64rem;
}
.renshu {
  width: 1.92rem;
  height: 0.64rem;
  float: right;
  font-size: 0.48rem;
  text-align: center;
  background-color: #d9d9d9;
}
.mingzi {
  width: 4.608rem;
  height: 0.96rem;
  float: left;
  font-size: 0.64rem;
  font-family: 宋体;
}
.tujain {
  width: 4.608rem;
  height: 0.96rem;
  float: left;
  font-size: 0.512rem;
  color: gray;
}
.iconr {
  float: left;
}
